<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <display-name>Coursework</display-name>
  <welcome-file-list>
    <welcome-file>home.html</welcome-file>
    <welcome-file>home.htm</welcome-file>
    <welcome-file>home.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>/CSS/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Log_in</display-name>
    <servlet-name>Log_in</servlet-name>
    <servlet-class>com.coursework.controller.Log_in</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Log_in</servlet-name>
    <url-pattern>/Log_in</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>registerController</display-name>
    <servlet-name>registerController</servlet-name>
    <servlet-class>com.coursework.controller.registerController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registerController</servlet-name>
    <url-pattern>/registerController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>patientController</display-name>
    <servlet-name>patientController</servlet-name>
    <servlet-class>com.coursework.controller.patientController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>patientController</servlet-name>
    <url-pattern>/patientController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoctorController</display-name>
    <servlet-name>DoctorController</servlet-name>
    <servlet-class>com.coursework.controller.DoctorController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoctorController</servlet-name>
    <url-pattern>/DoctorController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AboutController</display-name>
    <servlet-name>AboutController</servlet-name>
    <servlet-class>com.coursework.controller.AboutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AboutController</servlet-name>
    <url-pattern>/AboutController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContactController</display-name>
    <servlet-name>ContactController</servlet-name>
    <servlet-class>com.coursework.controller.ContactController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactController</servlet-name>
    <url-pattern>/ContactController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterController</display-name>
    <servlet-name>RegisterController</servlet-name>
    <servlet-class>com.coursework.controller.RegisterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterController</servlet-name>
    <url-pattern>/RegisterController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AppointmentController</display-name>
    <servlet-name>AppointmentController</servlet-name>
    <servlet-class>com.coursework.controller.AppointmentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AppointmentController</servlet-name>
    <url-pattern>/AppointmentController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterDoctor</display-name>
    <servlet-name>RegisterDoctor</servlet-name>
    <servlet-class>com.coursework.controller.RegisterDoctor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterDoctor</servlet-name>
    <url-pattern>/RegisterDoctor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminController</display-name>
    <servlet-name>AdminController</servlet-name>
    <servlet-class>com.coursework.controller.AdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminController</servlet-name>
    <url-pattern>/AdminController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>registerpatientController</display-name>
    <servlet-name>registerpatientController</servlet-name>
    <servlet-class>com.coursework.controller.registerpatientController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registerpatientController</servlet-name>
    <url-pattern>/registerpatientController</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>AuthenticationFilter</display-name>
    <filter-name>AuthenticationFilter</filter-name>
    <filter-class>com.coursework.filter.AuthenticationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthenticationFilter</filter-name>
    <url-pattern>/AuthenticationFilter</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>DoctorProfileController</display-name>
    <servlet-name>DoctorProfileController</servlet-name>
    <servlet-class>com.coursework.controller.DoctorProfileController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoctorProfileController</servlet-name>
    <url-pattern>/DoctorProfileController</url-pattern>
  </servlet-mapping>
</web-app>